.phishdefender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191F54;
  height: 100vh;
}

.phishdefender-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin-top: 70px;

}

.phishdefender-navbar-g{
  margin-bottom: 30px;
}

.sub-phish{
  color:#FF6A3B;
}

.phishdefender-title {
  align-self: start;
  font-size: 48px;
  font-weight: bold;
  color: #FF6A3B;
  margin-bottom: 50px;
}

.phishdefender-title-h {
  align-self: start;
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}

.phishdefender-text {
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
  text-align: start;
}

.phishdefender-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.phishdefender-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 20px;
  background-color: unset;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  border-radius: 15px;
  border: solid #FF6A3B;
}

.phishdefender-feature-title {
  font-size: 24px;
  font-weight: bold;
  color: #FF6A3B;
  margin-bottom: 20px;
}

.phishdefender-feature-text {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.o-h{
  text-align: justify;
  color: white;
  font-size: 15px;
  width: 900px;
}

.h-t{
  color: white;
  font-size: 40px;
}

.phishdefender-cta {
  display: flex;
  justify-content: flex-end;
}

.phishdefender-button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 15px 30px;
  border: none;
  background-color: unset;
  border-radius: 5px;
  cursor: pointer;
}

.phishdefender-button-AboutUs {
  justify-content: end;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 15px 30px;
  border: none;
  background-color: unset;
  border-radius: 5px;
  cursor: pointer;
}

.phishdefender-button:hover {
  background-color: #FF6A3B;
  border: solid #FDFD96;
}